.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	text-align: center;
	background: var(--gold, #ffc802);
	border: 1px solid #000000;
	cursor: pointer;
}

.button:hover {
	background-color: #ffedab;
}

.button[type='reset'] {
	color: black;
	background-color: white;
}

.button[type='reset']:hover {
	background-color: white;
	mix-blend-mode: difference;
}
