.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 24px;
	max-width: var(--container-width, auto);
	margin: 17px auto;
	padding: 68px 0 144px;
	overflow: hidden;
}

.titleDescription {
	max-width: 550px;
}

.image {
	width: 100vw;
	height: auto;
	margin-top: 26px;
	object-fit: cover;
}

.article_is_wide {
	padding: 74px 0 144px;
	overflow: visible;
}
